{% extends 'base.html' %}

{% block title %}My Personal Library{% endblock %}

{% block content %}

<div class="container">
  <h1 class="heading" align="center" style="margin-top: 20px; margin-bottom: 20px">Welcome to my library</h1>
  <p class="description" align="center" style="margin-bottom: 30px">These are all the books that have captured my attention... and my heart. Some are good,
      others are really good, and a few.....well all I can say for those is, "We listen, we don't judge. Depending on
      which option you chose, you can enjoy your fill, or well suffer the consequences."</p>
</div>

<div class="container row-cols-4 ">
    {% for book in books %}

    <a href="{{ url_for('main.view_book') }}">
    <div class = "col">
        <div class="card mb-3">
            <img src="{{book.cover_image}}" class="d-block user-select-none" width="100%" height="400" alt="{{book.title}} book cover image">
            <div class="card-body">
                <p class="card-text">{{book.title}}</p>
            </div>
            <div class="card-body row" style="align: center">
                <div class="col"><a href="{{ url_for('main.view_book') }}" class="card-link">View Book</a></div>
                <div class="col"><a href="{{ url_for('main.edit', book_id=book.id) }}" class="card-link">Update Details</a></div>
                <div class="col"><a href="{{ url_for('main.delete', book_id=book.id) }}" class="card-link">Delete Book</a></div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>



<div class="container text-center add">
<a href="{{ url_for('main.add_book') }}" class="button">Add New Book</a>
</div>

{% endblock %}